<div class="login-container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>Login</h2>
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" formControlName="username" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
</div>
